<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Chai Latte Rater</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= javascript_pack_tag 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <%= javascript_pack_tag 'application' %>
</html>
